<div class="nx-slider" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="nx-slider-track">
    @for (img of images(); track img; let i = $index) {
    <div class="nx-slide" [class.is-active]="i === current()" [attr.aria-hidden]="i !== current()">
      <button
        type="button"
        class="nx-slide-trigger"
        (click)="openLightbox(i)"
        [attr.tabindex]="i === current() ? 0 : -1"
        [attr.aria-label]="'Vergroot afbeelding ' + (i + 1)"
      >
        <img [src]="img" [alt]="alt()" [attr.loading]="i === 0 ? 'eager' : 'lazy'" />
      </button>
    </div>
    }
  </div>

  @if (labels().length) {
  <ul class="nx-slider-tabs">
    @for (label of labels(); track label; let i = $index) {
    <li [class.is-active]="i === current()">
      <button
        type="button"
        (click)="goTo(i)"
        [attr.aria-current]="i === current()"
      >
        <span class="nx-slider-tab-number">{{ i + 1 }}</span>
        <span class="nx-slider-tab-label">{{ label }}</span>
      </button>
    </li>
    }
  </ul>
  } @else if (images().length > 1) {
  <ul class="slick-dots">
    @for (img of images(); track img; let i = $index) {
    <li [class.slick-active]="i === current()">
      <button
        type="button"
        (click)="goTo(i)"
        [attr.aria-label]="'Ga naar afbeelding ' + (i + 1)"
        [attr.aria-current]="i === current()"
      >
        {{ i + 1 }}
      </button>
    </li>
    }
  </ul>
  }
</div>
