// Hang- en discussloten specific overrides
:host(.cat-hang-en-discussloten) {














section.section.cat-content.cat-content--block-5.cat-content--alt > div > article > div.block-text > ul > li > a {
    align-items: baseline;
}





section.section.cat-content.cat-content--block-3.cat-content--alt > div > article > div.block-media {
    background: #fff;
}
section.section.cat-content.cat-content--block-0 > div > article > div {
    width: 100%;
}



@media (max-width: 767px) {
section.section.cat-content.cat-content--block-2 > div > article > div.block-media {
    padding: 0;
}
section.section.cat-content.cat-content--block-5.cat-content--alt > div > article > div.block-media {
    padding: 0;
}
}










    
}
