// Sluitlijsten specific overrides
:host(.cat-sluitlijsten) {








section.section.cat-content.cat-content--block-3.cat-content--alt > div > article > div {
    width: 100%;
}

section.section.cat-content.cat-content--block-0 > div > article > div {
    width: 100%;
}
section.section.cat-content.cat-content--block-3.cat-content--alt > div > article > div.block-media {
    background: #fff;
}
section.section.cat-content.cat-content--block-4 > div > article > div {
    width: 100%;
}
















    
}
